[submodule "tesseract"]
	path = Sources/tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
[submodule "leptonica"]
	path = Sources/leptonica
	url = https://github.com/DanBloomberg/leptonica.git
